form{
  width:450px;
  margin: auto;
  background: rgba(0,0,0,0,4);
  padding: 18px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
min-height: 100px;
min-height: 200px;
min-width: 100%;
}

#boton{
  background: rgb(10, 209, 10);
  color: white;
  padding:20px;
}

#boton:hover{
  cursor: pointer;
}